@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root
{
  --dodger-blue: #4392f1;
  --magnolia: #ECE8EF;
  --lavender-web: #E3EBFF;
  --alice-blue: #E7F0FF;
  --independence: #4E5166;
}

html 
{
  background-color: var(--magnolia);     
}

body 
{
  min-width: 600px;
  width: auto;
  height: auto;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
  background: var(--dodger-blue);
}

h1 
{
  color: var(--alice-blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  padding: 2%;
  padding-bottom: 0.2%;
}

h2 
{
  color: var(--alice-blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  padding: 2%;
  padding-bottom: 0.2%;
}

p 
{
  color: var(--alice-blue);
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  padding: 2%;
  padding-top: 0.2%;
}

/* Sub Styles */

.logo
{
  background: var(--magnolia);
}

/* Add a black background color to the top navigation */
.topnav 
{
  background-color: var(--independence);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a 
{
  float: left;
  color: var(--alice-blue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover 
{
  background-color: var(--lavender-web);
  color: var(--independence);
}

/* Add a color to the active/current link */
.topnav a.active 
{
  background-color: var(--dodger-blue);
  color: var(--alice-blue);
}

.alt-color
{
  background-color: var(--independence);
}

.justify-left-rail
{
  padding-left: 1%;
  width: 19%;
  float: left;
}

.justify-left-rail img
{
  height: auto;
  max-width: 100%;
}

.justify-right-rail
{
  padding-right: 1%;
  padding-left: 1%;
  width: 78%;
  float: left;
}

/* Justifies the content to the center off the div or body */
.justify
{
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Makes sure image scales with the body */
.justify img
{
  height: auto;
  max-width: 100%;
}

.about-left
{
  justify-content: left;
  text-align: left;
  background-color: var(--independence);
}

.about-left img
{
  height: auto;
  max-width: 30%;
}

.about-left p
{
  padding-top: 0%;
}

.about-right
{
  justify-content: right;
  text-align: right;
}

.about-right p
{
  padding-top: 0%;
}

/* Simple box shadow that can be applied to an element */
.drop-shadow
{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

#footer 
{
  position: fixed;
    height: 50px;
    background-color: var(--magnolia);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#footer p
{
  color: var(--independence); 
  text-align: center;
  font-size: 100%;
}

#footer a
{
  color: var(--dodger-blue)
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea 
{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid var(--independence); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] 
{
  background-color: var(--independence);
  color: var(--alice-blue);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover 
{
  background-color: var(--independence);
}

/* Add a background color and some padding around the form */
.container 
{
  border-radius: 5px;
  background-color: var(--dodger-blue);
  padding: 20px;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 5%;
}

.container label
{
  font-family: 'Roboto', sans-serif;
  color:var(--alice-blue);
}
