/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
    color: white;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* unvisited link */
a:link {
  color: orange;
}

/* visited link */
a:visited {
  color: orange;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
a:active {
  color: orange;
}

/*=========================================
    Main Styles
    =========================================*/
    body {
      font-family: arial;
      background-image: url("https://www.itl.cat/pngfile/big/157-1572191_hd-wallpapers-for-website-background-cool-background-image.jpg");
      background-size:cover;
      background-repeat: no-repeat;
    }

    .container {
      width: 989px;
      margin: 0 auto;
    }

    .footer {
      text-align: center;
    }

    img
    {
      height: auto;
      width: auto;
    }

    .drop-shadow
    {
      box-shadow: 5px 5px black;
      max-height: 315px;
      max-width: 420px;
    }

    .offset-rotation
    {
      margin-top: 15px;
      margin-bottom: 15px;
      transform: rotate(7deg);
    }